<a href="https://colab.research.google.com/github/nahidul76edu/Python-Learning/blob/main/Data_types_(learn_with_examples_and_play_with_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Numeric Types**

# **integer, float, complex**, binary

In [1]:
#declare integer
a = 10
print("integer :", a, type(a))
#declare float
a = 10.5
print("float :", a, type(a))
#declare complex
a = 3j
print("complex :", a, type(a))

integer : 10 <class 'int'>
float : 10.5 <class 'float'>
complex : 3j <class 'complex'>

Exprore numeric type

In [2]:
x1 = input("enter first input:")
x2 = input("enter second input:")

x = x1 + x2

print(x)

"""
the question is: why it is not able to add two values?

The answer is: input() function convert anytypes (int, float, str, bytes) into a string value. Therefor, here, the +  fllow the string concatanate policy, not adding number policy.
"""

enter first input:20
enter second input:30
2030

'\nthe question is: why it is not able to add two values?\n\nThe answer is: input() function convert anytypes (int, float, str, bytes) into a string value. Therefor, here, the +  fllow the string concatanate policy, not adding number policy.\n'

Convert it in different format

In [3]:
bucket1 = 10

# Convert to float
bucket_float = float(bucket1)
print("Float:", bucket_float)

# Convert to binary
bucket_bin = bin(bucket1)
print("Binary:", bucket_bin)

# Convert to hexadecimal
bucket_hex = hex(bucket1)
print("Hexadecimal:", bucket_hex)

# Convert to octal
bucket_oct = oct(bucket1)
print("Octal:", bucket_oct)

Float: 10.0
Binary: 0b1010
Hexadecimal: 0xa
Octal: 0o12

In [5]:
"""
To solve this problem we can use multipe policy (declare the data type when taking inputs or befor input function).
"""
#int
x_int1 = int(input("enter first input: int type: "))
x_int2 = int(input("enter second input: int type: "))
x_int_sum = x_int1 + x_int2
print("Int sum:", x_int_sum)

#float
x_float1 = float(input("enter first input: float type: "))
x_float2 = float(input("enter second input: float type: "))
x_float_sum = x_float1 + x_float2
print("float sum:", x_float_sum)

#eval
x_eval1 = eval(input("enter first input: any type: "))   #i used float input
x_eval2 = eval(input("enter second input: any type: "))  #i used binary input
x_eval_sum = x_eval1 + x_eval2
print("eval sum: suppot any types", x_eval_sum)

enter first input: int type: 10
enter second input: int type: 20
Int sum: 30
enter first input: float type: 10.5
enter second input: float type: 10
float sum: 20.5
enter first input: any type: 10.5
enter second input: any type: 10
eval sum: suppot any types 20.5

# **Dictionary Types**

Benefits of dictionaries:

- **Fast lookups:** Dictionaries offer constant-time lookups, making them highly efficient for accessing values based on keys.

- **Flexibility:** Dictionaries can store heterogeneous data types as values and support various data structures as keys.

- **Key-Value Pairs:** Dictionaries allow you to store data as key-value pairs, enabling easy organization and retrieval of information.

- **Dynamic:** Dictionaries can grow or shrink dynamically, allowing for easy addition or removal of key-value pairs.

- **Hashing:** Internally, dictionaries use hashing for fast access, which makes them suitable for applications requiring fast retrieval based on keys.

Drawbacks of dictionaries:

- **Unordered:** Dictionaries are unordered collections, meaning the order of elements may not be preserved. This can be a limitation in scenarios where order matters.

- **Memory Consumption:** Dictionaries consume more memory compared to other data structures like lists or tuples.

- **Immutable Keys:** Keys in dictionaries must be immutable objects. Mutable objects like lists cannot be used as keys.

- **Overhead:** Dictionaries have some overhead associated with hashing and maintaining the hash table, which can impact performance for very large dictionaries.

In [6]:
#declare dictionary
dict_example = {"name": "Nahid", "Age": 25, "City": "Chapainawabganj"}
print("Dictionary data: ",dict_example)

Dictionary data:  {'name': 'Nahid', 'Age': 25, 'City': 'Chapainawabganj'}

In [7]:
# Accessing values
#print(dict_example[0]) #can not work like this

print("accessing particular data: ", dict_example['Age'])
print("accessing particular data :", dict_example['City'])

accessing particular data:  25
accessing particular data : Chapainawabganj

In [8]:
# Accessing values
#print(dict_example[0]) #can not work like this
dict_example['Age'] = 30
dict_example['City'] = "Dhaka"

print("Accessing new data into dict: ", dict_example['Age'])
print("Accessing new data into dict: ", dict_example['City'])
print("Dictionary after Accessing new data: ", dict_example)

Accessing new data into dict:  30
Accessing new data into dict:  Dhaka
Dictionary after Accessing new data:  {'name': 'Nahid', 'Age': 30, 'City': 'Dhaka'}

In [9]:
# Removing an item
removed_item = dict_example.pop("name")
print("Removed item (Age):", removed_item)
print("After removing Age:", dict_example)

Removed item (Age): Nahid
After removing Age: {'Age': 30, 'City': 'Dhaka'}

In [11]:
# Checking if a key exists
print("Is 'City' present in the dictionary?", "City" in dict_example)

Is 'City' present in the dictionary? True

In [12]:
# Getting all keys and values
print("Keys:", dict_example.keys())
print("Values:", dict_example.values())

Keys: dict_keys(['Age', 'City'])
Values: dict_values([30, 'Dhaka'])

In [13]:
dict_example.items()

dict_items([('Age', 30), ('City', 'Dhaka')])

In [14]:
# Iterating through key-value pairs
for key, value in dict_example.items():
    print("keys:\n", key)
    print("values:\n", value)
    print("keys and values:\n", key, ":", value)
    print()  # Adding a newline after each key-value pair

keys:
 Age
values:
 30
keys and values:
 Age : 30

keys:
 City
values:
 Dhaka
keys and values:
 City : Dhaka

In [15]:
# Iterating through key-value pairs
print("Keys:")
for key in dict_example.keys():
    print(key)

print("\nValues:")
for value in dict_example.values():
    print(value)

Keys:
Age
City

Values:
30
Dhaka

# **Boolean Types**

In Python, the boolean data type represents truth values True and False. Here's an overview of its benefits, drawbacks, use cases, examples, and operations:

**Benefits:**
- **Simplicity:** Booleans offer a simple way to represent two states: true or false.
- **Logical Operations:** Booleans are fundamental for logical operations, such as conditional statements and boolean algebra.
- **Efficiency:** Booleans require minimal memory and offer fast evaluations.

**Drawbacks:**
- **Limited Values:** Booleans can only represent two states, true or false, which might be limiting in certain scenarios requiring multiple states.

**Use Cases:**
- **Conditional Statements:** Booleans are commonly used in if-else statements to control program flow based on conditions.
- **Loop Control:** Booleans can determine loop termination conditions.
- **Function Returns:** Booleans are often used as return values to indicate the success or failure of operations.
- **Data Filtering:** Booleans can filter data based on specific conditions.

In [16]:
# Declaring a boolean variable 'boolean_declare' and assigning it the value True
boolean_declare = True

In [17]:
# Using boolean in conditional statement
if boolean_declare: # This checks if the value of 'boolean_declare' is True
  print("'boolean_declare' is True")
else:
  print("'boolean_declare' is (not True) or False")

'boolean_declare' is True

In [18]:
boolean_declare = False
# Using boolean in conditional statement
if boolean_declare == True:
  print("'boolean_declare' is True")
else:
  print("'boolean_declare' is (not True) or False")

'boolean_declare' is (not True) or False

Condition check in diffferent styles

In [19]:
# Declaring a boolean variable
boolean_declare = False

# Using boolean in conditional statements

# Method 1: Comparing with True
if boolean_declare == True:
    print("'boolean_declare' is True")

# Method 2: Using 'is' keyword with True
if boolean_declare is True:
    print("'boolean_declare' is True")

# Method 3: Using 'is' keyword with False
if boolean_declare is False:
    print("'boolean_declare' is False")

# Method 4: Using negation operator
if not boolean_declare:
    print("'boolean_declare' is (not True) or False")

# Method 5: Comparing with False
if boolean_declare == False:
    print("'boolean_declare' is (not True) or False")

# Method 6: Using 'is not' keyword with True
if boolean_declare is not True:
    print("'boolean_declare' is (not True) or False")

# Method 7: Using 'is not' keyword with False
if boolean_declare is not False:
    print("'boolean_declare' is (not False) or True")

'boolean_declare' is False
'boolean_declare' is (not True) or False
'boolean_declare' is (not True) or False
'boolean_declare' is (not True) or False

In [20]:
# Declaring a boolean variable
boolean_declare = True

# Loop control using boolean
# This loop iterates until 'a' becomes False
i = 0
while boolean_declare:
  # Printing the current loop iteration
  print("Loop iteration:", i)
  # Incrementing the loop counter
  i += 1
  # Checking if loop counter is 3
  if i == 3:
    # If loop counter is 3, setting 'a' to False to exit the loop
    boolean_declare = False

Loop iteration: 0
Loop iteration: 1
Loop iteration: 2

**Using condition, check even or odd number**

In [21]:
first_input = 4
first_input/2 == first_input/2

True

In [22]:
first_input = int(input("Enter an integer value: "))

if first_input/2 == int(first_input/2):
  print(f"{first_input} is a even number")
else:
  print(f"{first_input} is a odd number")
#############################################################################
#can do in another style

first_input = int(input("Enter a integer value: "))

if first_input % 2 == 0:
  print(f"{first_input} is a even number")
else:
  print(f"{first_input} is a odd number")
##############################################################################
#Another style, by calling function

def check_even_or_odd_number():
  number = int(input("Insert int Number: "))
  if number % 2 == 0:
    print(f"{number} is a even number")
  else:
    print(f"{number} is a odd number")

check_even_or_odd_number()

Enter an integer value: 10
10 is a even number
Enter a integer value: 11
11 is a odd number
Insert int Number: 12
12 is a even number

In [23]:
# Data filtering based on boolean condition
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

call_each_list = [i for i in list_1]
print("call_each_list: ",call_each_list)
##############################################################################
even_number_filter = [i for i in list_1 if i % 2 == 0]
print("Filter odd number: ", even_number_filter)

#using loop
# Initialize an empty list to store even numbers

even_number_filter = []
odd_number_filter = []

for i in list_1: #list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  # Check if the element is even
  if i % 2 == 0:
    print(f"{i} is a even number")
    even_number_filter.append(i)
  else:
    print(f"{i} is a odd number")
    odd_number_filter.append(i)

print("even_number_filter loop: ", even_number_filter, "odd_number_filter loop: ", odd_number_filter)

# Using lambda function with filter
even_number_filter = list(filter(lambda x: x % 2 == 0, list_1))
print("even_number_filter: using lambda", even_number_filter)
###############################################################################

odd_number_filter = [i for i in list_1 if i not in even_number_filter]
print("Filter odd number: ", odd_number_filter)

#Using lambda function with filter
odd_number_filter = list(filter(lambda x: x % 2 != 0, list_1))
print("odd_number_filter: using lambda", odd_number_filter)

call_each_list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filter odd number:  [2, 4, 6, 8, 10]
1 is a odd number
2 is a even number
3 is a odd number
4 is a even number
5 is a odd number
6 is a even number
7 is a odd number
8 is a even number
9 is a odd number
10 is a even number
even_number_filter loop:  [2, 4, 6, 8, 10] odd_number_filter loop:  [1, 3, 5, 7, 9]
even_number_filter: using lambda [2, 4, 6, 8, 10]
Filter odd number:  [1, 3, 5, 7, 9]
odd_number_filter: using lambda [1, 3, 5, 7, 9]

# **Set Types**

Benefits of Sets:
- Uniqueness: Sets contain unique elements, ensuring each element appears only once.
- Efficient Membership Testing: Sets offer efficient membership testing operations, with constant-time complexity.
- Mathematical Operations: Sets support various mathematical operations like union, intersection, difference, and symmetric difference, making them useful for set theory tasks.
- Mutable and Immutable Variants: Python provides both mutable (set) and immutable (frozenset) variants of sets, offering flexibility based on application requirements.

Drawbacks of Sets:
- Unordered: Sets are unordered collections, meaning the order of elements is not guaranteed.
- Cannot Store Mutable Elements: Sets cannot contain mutable elements such as lists or dictionaries.
- Memory Overhead: Sets consume more memory compared to other data structures due to their internal implementation using hash tables.

In [24]:
#Declare set with sstring
string_set = {"nahid", "jahid", "kamal", "nahid"}
print("string_set", string_set)

# Declare a set with numbers
number_set = {1, 2, 3, 4, 5}
print("Set number_set:", number_set)

string_set {'kamal', 'jahid', 'nahid'}
Set number_set: {1, 2, 3, 4, 5}

In [25]:
# Add an element to the number set
number_set.add(6)
print("After adding 6 to number_set:", number_set)

# Remove an element from the name set
string_set.remove("nahid")
print("After removing 'nahid' from string_set:", string_set)

After adding 6 to number_set: {1, 2, 3, 4, 5, 6}
After removing 'nahid' from string_set: {'kamal', 'jahid'}

In [26]:
# Access elements in both sets using a loop
print("Accessing elements in string_set:")
for name in string_set:
    print(name)

print("Accessing elements in number_set:")
for num in number_set:
    print(num)

Accessing elements in string_set:
kamal
jahid
Accessing elements in number_set:
1
2
3
4
5
6

In [27]:
# Check if an element exists in both sets
print("Is 'jahid' in string_set?", "jahid" in string_set)
print("Is 2 in number_set?", 2 in number_set)

Is 'jahid' in string_set? True
Is 2 in number_set? True

In [28]:
# Calculate the length of both sets
print("Length of string_set:", len(string_set))
print("Length of number_set:", len(number_set))

Length of string_set: 2
Length of number_set: 6

In [29]:
# Clear both sets
string_set.clear()
number_set.clear()
print("After clearing string_set:", string_set)
print("After clearing number_set:", number_set)

After clearing string_set: set()
After clearing number_set: set()

# **Sequence Types**

# **string**

Benefits of Strings:
- Text Representation: Strings are used to represent text data in Python, making them essential for working with textual information.
- Immutable: Strings in Python are immutable, meaning their values cannot be changed after they are created. This immutability ensures data integrity and simplifies memory management.
- Versatility: Strings support various operations and methods for text manipulation, including concatenation, slicing, searching, replacing, and formatting.
- Interpolation: Python provides powerful string interpolation mechanisms, such as f-strings and format() method, which allow for dynamic insertion of variables and expressions into strings.
- Unicode Support: Python strings support Unicode characters, making them suitable for handling multilingual text and ensuring compatibility with different writing systems.

Drawbacks of Strings:
- Memory Overhead: Each character in a string consumes memory, which can lead to increased memory usage when working with large strings or many strings.
- Immutability: While immutability ensures data integrity, it also means that creating modified versions of strings requires creating entirely new string objects, which can be inefficient for large strings or frequent modifications.
- Performance: Some string operations, such as string concatenation using the + operator, can be inefficient, especially when dealing with large strings or many concatenations.
- Encoding Issues: Working with encoded text, especially when dealing with different character encodings, can introduce complexities and potential errors in string processing.
- Lack of Byte-Level Access: Unlike byte arrays, strings in Python do not provide direct access to individual bytes, which can be a limitation when working with binary data or low-level byte manipulation.

In [30]:
# Declare a string
my_string = "Hello, World!"

In [31]:
# Accessing values:
print("First character:", my_string[0])  # Access the first character
print("Last character:", my_string[-1])  # Access the last character
print("Substring:", my_string[7:12])     # Access a substring

First character: H
Last character: !
Substring: World

In [32]:
# Concatenation:
new_string = my_string + " Have a nice day!"  # Concatenate two strings
print("Concatenated string:", new_string)

string_1 = "nahid"
string_2 = "is a"
string_3 = "good human"

#string = string_1 + string_2 + string_3             # if do not need space when adding
string = string_1 + ' ' + string_2 +  ' ' + string_3 # if need space when adding
print("Concatenate multipe strings: ", string)

Concatenated string: Hello, World! Have a nice day!
Concatenate multipe strings:  nahid is a good human

In [33]:
# Length:
print("Length of string:", len(my_string))  # Get the length of the string

Length of string: 13

In [34]:
# Iterating over characters:
print("Characters in the string:")
for i in my_string:
    print(i)

Characters in the string:
H
e
l
l
o
,

W
o
r
l
d
!

In [35]:
# Checking membership:
if "Hello" in my_string:
    print("The word 'Hello' is present in the string.")

The word 'Hello' is present in the string.

In [36]:
# Replacing:
new_string = my_string.replace("World", "Universe")  # Replace a substring
print("String before replacement (original):", my_string)
print("String after replacement:", new_string)

String before replacement (original): Hello, World!
String after replacement: Hello, Universe!

In [37]:
Convert_in_upper_case = my_string.upper()
Convert_in_lower_case = my_string.lower()

# Converting to upper and lower case:
print("Uppercase:", Convert_in_upper_case)
print("Lowercase:", Convert_in_lower_case)

Uppercase: HELLO, WORLD!
Lowercase: hello, world!

Strings may sometimes need to be converted into lists to facilitate specific operations or manipulations that are easier to perform with lists than with strings. Here are some common scenarios where converting a string to a list can be beneficial:

- Tokenization: When working with natural language processing tasks such as text analysis or parsing, you may need to tokenize a string into individual words or characters. Converting the string to a list of words or characters makes it easier to process each token separately.

- Modifying Individual Characters: Since strings are immutable in Python, you cannot directly modify individual characters in a string. However, if you convert the string to a list of characters, you can then modify individual characters by accessing them using list indexing and assignment.

- String Manipulation: Certain string manipulation tasks, such as reversing a string or shuffling its characters, are more straightforward when performed on a list representation of the string rather than the string itself.

- Data Transformation: In some data processing tasks, it may be more convenient to represent the data as a list of strings rather than a single concatenated string. This can facilitate operations such as filtering, sorting, or mapping over the elements.

- Regular Expressions: When using regular expressions for pattern matching or substitution, converting the input string to a list of substrings can help in processing matches individually or applying different transformations to different parts of the string.

In [38]:
# Splitting:
split_string = my_string.split(",")  # Split the string into a list
print("Split string:", split_string)

Split string: ['Hello', ' World!']

In [39]:
# Example of Tokenization:
sentence = "For understanding this concept"
tokenized_words = sentence.split()  # Convert the sentence to a list of words
print("Tokenized words:", tokenized_words)

Tokenized words: ['For', 'understanding', 'this', 'concept']

In [40]:
# Example of Modifying Individual Characters:
word = "hello"
char_list = list(word)  # Convert the word to a list of characters
char_list[0] = 'H'  # Modify the first character
modified_word = ''.join(char_list)  # Convert the list back to a string
print("Modified word:", modified_word)

Modified word: Hello

In [41]:
# Example of String Manipulation:
string_to_reverse = "University"
reversed_string = ''.join(reversed(string_to_reverse))  # Reverse the string
print("Reversed string:", reversed_string)

Reversed string: ytisrevinU

In [42]:
# Example of Data Transformation:
data_string = "1,2,3,4,5"
data_list = data_string.split(',')  # Convert the string to a list of numbers
data_numbers = [int(num) for num in data_list]  # Convert each element to an integer
print("Transformed data:", data_numbers)

Transformed data: [1, 2, 3, 4, 5]

In [43]:
# Example of Regular Expressions:
import re
text = "The quick brown fox jumps over the lazy dog."
matches = re.findall(r'\b\w{3}\b', text)            # Find all three-letter words
print("Matches found:", matches)

Matches found: ['The', 'fox', 'the', 'dog']

In [44]:
whitespace_string = "  Hello, World!  "

print("Before Stripped string:", whitespace_string)
print("Stripped string:", whitespace_string.strip())

Before Stripped string:   Hello, World!
Stripped string: Hello, World!

In [45]:
my_string = "Learning coding with an example is very effective"

# Finding substrings:
print("Index of 'Learning':", my_string.find("Learning"))
print("Index of 'coding':", my_string.find("coding"))  # Find the index of a substring
print("Index of 'example':", my_string.find("example"))
print("Index of 'effective':", my_string.find("effective"))

Index of 'Learning': 0
Index of 'coding': 9
Index of 'example': 24
Index of 'effective': 40

In [46]:
my_string[0]

'L'

In [47]:
# Checking starts/ends with:
print("Starts with 'Learning':", my_string.startswith("Learning"))  # Check if the string starts with a substring
print("Ends with 'effective!':", my_string.endswith("effective"))   # Check if the string ends with a substring
print("Ends with 'example!':", my_string.endswith("example"))   # Check if the string ends with a substring

Starts with 'Learning': True
Ends with 'effective!': True
Ends with 'example!': False

In [48]:
# Formatting:
formatted_string = "Name: {}, Age: {}".format("John", 30)  # Format a string
print("Formatted string:", formatted_string)

Formatted string: Name: John, Age: 30

Adding and removing:

Strings are immutable, so you cannot directly add or remove characters. However, you can create a new string with the desired modifications.

In [49]:
my_string = "Learning coding with examples is very effective"

# Example of adding:
added_string = my_string + " Goodbye!"  # Concatenate two strings
print("String after adding:", added_string)

# Example of removing:
removed_string = my_string.replace("with examples", "")  # Replace "example" with an empty string to remove it
print("String after removing:", removed_string)

String after adding: Learning coding with examples is very effective Goodbye!
String after removing: Learning coding  is very effective

# **list**

**Benefits of Lists:**

- Versatility: Lists are incredibly versatile and can hold a variety of data types (integers, strings, floats, etc.) in a single structure.
  
- Mutability: Lists are mutable, meaning you can change, add, or remove elements after the list has been created. This makes them dynamic and flexible for modifying data.

- Indexing and Slicing: Lists support indexing and slicing operations, allowing you to access individual elements or subsets of elements easily.

- Ordered: Lists maintain the order of elements as they are inserted, allowing you to preserve the sequence of data.

- Iterability: Lists can be easily iterated over using loops, making them suitable for looping constructs and iteration-based operations.

**Drawbacks of Lists:**

- Linear Time Operations: Some operations on lists, such as searching for an element or removing an element from the middle, have a linear time complexity, which can be inefficient for large lists.

- Memory Overhead: Lists consume more memory compared to other data structures, especially when dealing with large lists, due to their dynamic resizing and internal structure.

- Mutable: While mutability is a benefit, it can also be a drawback in certain scenarios where you want to ensure data integrity or avoid unintended changes to the list.

- Ordered: While the order of elements is maintained, this also means that certain operations, such as adding or removing elements, may require shifting other elements, leading to potential performance issues for large lists.

- Homogeneous: Lists allow for heterogeneous data types, but they are typically used to store homogeneous data. This means they may not be the best choice for certain scenarios requiring strict typing or data validation.

In [50]:
# Declare a list
my_list = [1, 2, 3, "nahid", "Kamal"]

In [51]:
# Accessing elements in the list
print("First element:", my_list[0])  # Output: 1
print("Last element:", my_list[-1])  # Last element

First element: 1
Last element: Kamal

In [52]:
# Adding elements to the list
my_list.append("python")  # Add python to the end of the list
print("After adding python:", my_list)

After adding python: [1, 2, 3, 'nahid', 'Kamal', 'python']

In [53]:
# Removing elements from the list
removed_element = my_list.pop(2)  # Remove the element at index 2
print("Removed element:", removed_element)
print("After removing element at index 2:", my_list)

# Remove the first occurrence of a specific element
# my_list.remove("nahid")                            #USE THIS STYLE ALSO
# print("After removing 'nahid':", my_list)

Removed element: 3
After removing element at index 2: [1, 2, 'nahid', 'Kamal', 'python']

In [54]:
# Changing elements in the list
my_list[3] = "GPU"  # Change the element at index 3 to GPU
print("After changing element at index 3:", my_list)

After changing element at index 3: [1, 2, 'nahid', 'GPU', 'python']

In [55]:
# Extend the list with another list
my_list.extend([4, 7, "CUDA"])
print("Extended list:", my_list)

Extended list: [1, 2, 'nahid', 'GPU', 'python', 4, 7, 'CUDA']

In [56]:
print("Length of the list:", len(my_list)) #CHECK LENGTH OF LIST
print("Index of 'nahid':", my_list.index("nahid"))

Length of the list: 8
Index of 'nahid': 2

In [57]:
print("Count of 'CUDA':", my_list.count("CUDA"))
print("Count of 'GPU':", my_list.count("GPU"))
print("Count of '7':", my_list.count(7))
print("Count of '1':", my_list.count(1))

Count of 'CUDA': 1
Count of 'GPU': 1
Count of '7': 1
Count of '1': 1

In [58]:
# Clear the entire list
my_list.clear()
print("Cleared list:", my_list)

Cleared list: []

# **Tuple**

**Benefits of Tuples:**

- Immutable: Tuples are immutable, meaning their values cannot be changed after they are created. This ensures data integrity and prevents accidental modification of data.

- Memory Efficiency: Tuples are more memory efficient compared to lists because they are immutable. This makes tuples suitable for storing fixed collections of data.

- Fast Access: Since tuples are immutable and have a fixed size, accessing elements in a tuple is faster compared to lists, especially for large collections of data.

- Sequence Preservation: Tuples preserve the order of elements, just like lists, making them suitable for scenarios where maintaining the sequence of data is important.

- Hashability: Tuples are hashable, meaning they can be used as keys in dictionaries and as elements in sets, providing versatility in data structures.

**Drawbacks of Tuples:**

- Immutability: While immutability is a benefit for data integrity, it can also be a drawback in scenarios where you need to modify the data frequently. In such cases, lists may be more suitable.

- Limited Operations: Due to their immutable nature, tuples support a limited set of operations compared to lists. For example, you cannot add or remove elements from a tuple once it is created.

- Less Flexibility: Tuples are less flexible compared to lists because they cannot be modified. This can be a limitation in scenarios where dynamic changes to the data structure are required.

- Less Readable Syntax: The syntax for creating tuples, especially empty tuples or tuples with a single element, can be less readable compared to lists. This can make code less intuitive in some cases.

- Less Commonly Used: Tuples are less commonly used compared to lists in Python, which means there may be fewer resources and community support available for working with tuples compared to lists.

In [59]:
# Declare a tuple
my_tuple = (1, 2, 3, "nahid", "Kamal")

In [60]:
# Accessing values in the tuple
print("First element:", my_tuple[0])  # call first value
print("Last element:", my_tuple[-1])  # call last value

First element: 1
Last element: Kamal

In [61]:
# Tuple slicing
print("Slice of tuple:", my_tuple[1:4])

Slice of tuple: (2, 3, 'nahid')

In [62]:
my_tuple

(1, 2, 3, 'nahid', 'Kamal')

In [70]:
# Index method to find the index of an element
print("Index of 'nahid':", my_tuple.index("nahid"))

Index of 'nahid': 3

In [64]:
# Declare a tuple
my_tuple = (1, 2, 3, "nahid", "Kamal", 3, 3)
# Count method to count occurrences of an element
print("Count of 'nahid':", my_tuple.count("nahid"))
print("Count of '3':", my_tuple.count(3))

Count of 'nahid': 1
Count of '3': 3

In [65]:
# Concatenating tuples
new_tuple = my_tuple + (4, 5, "tensorflow")
print("Concatenated tuple:", new_tuple)

Concatenated tuple: (1, 2, 3, 'nahid', 'Kamal', 3, 3, 4, 5, 'tensorflow')

In [66]:
# Length of the tuple
print("Length of tuple:", len(my_tuple))

Length of tuple: 7

In [67]:
# Unpacking tuple values
a, b, c,_,_,_,_ = my_tuple
print("Unpacked values:", a, b, c)

Unpacked values: 1 2 3

In [68]:
# Iterating over a tuple
for item in my_tuple:
    print("Item:", item)

Item: 1
Item: 2
Item: 3
Item: nahid
Item: Kamal
Item: 3
Item: 3

# **Other Types**

In [69]:
# Assigning a range object
x = range(10)
print("Range object:", x)

# Assigning a frozenset value
x = frozenset({"geeks", "for", "geeks"})
print("Frozenset value:", x)

# Assigning a bytes value
x = b"Geeks"
print("Bytes value:", x)

# Assigning a bytearray value
x = bytearray(4)
print("Bytearray value:", x)

# Assigning a memoryview value
x = memoryview(bytes(6))
print("Memoryview value:", x)

# Assigning a None value
x = None
print("None value:", x)

Range object: range(0, 10)
Frozenset value: frozenset({'for', 'geeks'})
Bytes value: b'Geeks'
Bytearray value: bytearray(b'\x00\x00\x00\x00')
Memoryview value: <memory at 0x7a6488379480>
None value: None